body{
    background-image: url("https://dumielauxepices.net/sites/default/files/drawn-night-sky-sky-wallpaper-557269-1896294.jpg");
    margin: 0;
}
#titulo{
    font-size: 25px;
    text-align:center;
    color: #FFFF;
}
#redeSocial{
    text-align:center;
}
#redeSocial aside ul li{
    display: inline-block;
}
#game{
    text-align:center;
    vertical-align: middle;
}
#stage{
    border:solid 1px;
    border-color: #ffff;
}
#rodape{
   background-color: #151515;
   width: 100%;
   position: absolute;
   bottom:0;
   
}
#textoRodaPe{
    font-size: 15px;
    text-align:center;
    color: #fff;
}